<h1>Burgers!</h1>

<h2>Add a Burger!</h2>
<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="burger" class="sr-only">Enter a burger you want to eat.</label>
        <input type="text" class="form-control" id="burgerName" placeholder="Enter a burger you want to eat.">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Burger</button>
</form>

<ul>
    {{!-- burgers to be eaten --}}
    {{#each burgers}}
    {{#unless devoured}}
    {{> burger}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{!-- burgers that have been eater --}}
    {{#each burgers}}
    {{#if devoured}}
    {{> burger}}
    {{/if}}
    {{/each}}
</ul>